<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273831877779-ls3275req2jqbhntns4c7mp4cgab3rg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273831877779-ls3275req2jqbhntns4c7mp4cgab3rg6</string>
	<key>API_KEY</key>
	<string>AIzaSyA5JQIHT88QtxP_0Ef7dt8YDAxJ6-X4UTE</string>
	<key>GCM_SENDER_ID</key>
	<string>273831877779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PiderStudio.CapysQuest</string>
	<key>PROJECT_ID</key>
	<string>capys-quest</string>
	<key>STORAGE_BUCKET</key>
	<string>capys-quest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273831877779:ios:87f2a568c48e7074748166</string>
</dict>
</plist>